

<!--<p class="stars">
  <span>
    <a class="star-1" href="#">1</a>
    <a class="star-2" href="#">2</a>
    <a class="star-3" href="#">3</a>
    <a class="star-4" href="#">4</a>
    <a class="star-5" href="#">5</a>
  </span>
</p>-->


<fieldset class="rate">
  <input type="radio" class="starrate" id="rating10" <%- book.rating=='10' ? 'checked' : '' %> name="rating" value="10" /><label for="rating10" title="5 stars"></label>
  <input type="radio" class="starrate" id="rating9"  <%- book.rating=='9' ? 'checked' : '' %>  name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
    <input type="radio" class="starrate" id="rating8"  <%- book.rating=='8' ? 'checked' : '' %>  name="rating" value="8" /><label for="rating8" title="4 stars"></label>
    <input type="radio" class="starrate" id="rating7"  <%- book.rating=='7' ? 'checked' : '' %> name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
    <input type="radio" class="starrate" id="rating6"   <%- book.rating=='6' ? 'checked' : '' %> name="rating" value="6" /><label for="rating6" title="3 stars"></label>
    <input type="radio" class="starrate" id="rating5"  <%- book.rating=='5' ? 'checked' : '' %> name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
    <input type="radio" class="starrate" id="rating4"  <%- book.rating=='4' ? 'checked' : '' %> name="rating" value="4" /><label for="rating4" title="2 stars"></label>
    <input type="radio" class="starrate" id="rating3"   <%- book.rating=='3' ? 'checked' : '' %> name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
    <input type="radio" class="starrate" id="rating2"   <%- book.rating=='2' ? 'checked' : '' %>  name="rating" value="2" /><label for="rating2" title="1 star"></label>
    <input type="radio" class="starrate" id="rating1"  <%- book.rating=='1' ? 'checked' : '' %> name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>

</fieldset>



<input type="text" class="invisible" id="authorId" name="authorId" value="<%= bookauthor.id %>">

<div class="form-row">
  <div class="form-item">
    <label>Title</label>
    <input type="text" name="title" value="<%= book.title %>">
  </div>
  <div class="form-item">
   
    <label for="authors">Author</label>
    <input list="author_list" id="authors" value="<%= bookauthor.name %>" data-id="xxx">
    <datalist id="author_list">
      <% authors.forEach(author => { %>
        <option data-id="<%= author.id %>" value= "<%= author.name %>" >
         </option>
          <% }) %>
    </datalist>
  </div>
</div>





<div class="form-row">
  <div class="form-item">
    <label>Genre</label>
    <select name="genre">
      
      <% genres.forEach(genre => { %>
        <% if (genre == book.genre) { %>
          <option selected label="<%= genre %>" value="<%= genre %>">
            <% } else { %>
              <option label="<%= genre %>" value="<%= genre %>">
                <% } %>
      <% }) %>
    </select>
  </div>


   <div class="form-item">
    <label>Publisher</label>
    <input type="text" name="publisher"
    value="<%= book.publisher %>">     
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Published</label>
    <input type="text" name="publishDate"
    value="<%= book.publishDate %>">
  </div>
  <div class="form-item">
    <label>Pages</label>
    <input type="number" name="pageCount" min="1" value="<%= book.pageCount %>">
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>ISBN</label>
    <input id="isbn" type="text" name="isbn"
    value="<%= book.isbn %>">
  </div>
  <div class="form-item">
    <label>Original Title</label>
    <input type="text" name="originalTitle"
    value="<%= book.originalTitle %>">
  </div>
  <!--<div class="form-item">
    <label>GoodReadsID</label>
    <input type="number" name="goodreadsid" value="<%= book.goodreadsid %>">
  </div>-->
</div>


<div class="form-row">
  <div class="form-item">
    <label>Started Reading</label>
    <input type="date" name="readStartDate"
  
    value="<%= book.readStartDate == null ? '' : book.readStartDate.toISOString().split('T')[0] %>">
         
  </div>
  <div class="form-item">
    <label>Ended Reading</label>
    <input type="date" name="readEndDate"
    value="<%= book.readEndDate == null ? '' : book.readEndDate.toISOString().split('T')[0] %>">
  </div>
</div>


<div class="form-row">
 

  <div class="form-item invisible">
    <label>Rating</label>
    <input type="text" name="test"
    value="<%= book.rating %>">
   
  </div>



  
 
</div>


<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Cover</label>
    <input type="file" name="cover" class="book-cover filepond">
  </div>
  <div class="form-item">
    <label>Review</label>
    <textarea name="description"><%= book.description %></textarea>
  </div>
</div>
  
