
<h2 class="page-header">Search Book</h2>
<form action="/books" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Title</label>
      <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Genre</label>
      <select name="genre">
        <option label="All" value="All"></option>
        <% genres.forEach(genre => { %>
          <option label="<%= genre %>" value="<%= genre %>">
        <% }) %>
      </select>
     </div>
  
    <div class="form-item">
      <label>Publisher</label>
      <input type="text" name="publisher" value="<%= searchOptions.publisher %>">
    </div>
  </div>

    

  <div class="form-row form-row-end">

    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<%- include('../partials/bookGrid', { books: books, large: true }) %>

