<div class="form-row">
  <div class="form-item">

<h2 class="page-header"><%= book.title %></h2>
</div>
<div class="form-item">

<fieldset class="rate">
  <input type="radio" class="starrate" id="rating10" <%- book.rating=='10' ? 'checked' : '' %> name="rating" value="10" /><label for="rating10" title="5 stars"></label>
  <input type="radio" class="starrate" id="rating9"  <%- book.rating=='9' ? 'checked' : '' %>  name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
    <input type="radio" class="starrate" id="rating8"  <%- book.rating=='8' ? 'checked' : '' %>  name="rating" value="8" /><label for="rating8" title="4 stars"></label>
    <input type="radio" class="starrate" id="rating7"  <%- book.rating=='7' ? 'checked' : '' %> name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
    <input type="radio" class="starrate" id="rating6"   <%- book.rating=='6' ? 'checked' : '' %> name="rating" value="6" /><label for="rating6" title="3 stars"></label>
    <input type="radio" class="starrate" id="rating5"  <%- book.rating=='5' ? 'checked' : '' %> name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
    <input type="radio" class="starrate" id="rating4"  <%- book.rating=='4' ? 'checked' : '' %> name="rating" value="4" /><label for="rating4" title="2 stars"></label>
    <input type="radio" class="starrate" id="rating3"   <%- book.rating=='3' ? 'checked' : '' %> name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
    <input type="radio" class="starrate" id="rating2"   <%- book.rating=='2' ? 'checked' : '' %>  name="rating" value="2" /><label for="rating2" title="1 star"></label>
    <input type="radio" class="starrate" id="rating1"  <%- book.rating=='1' ? 'checked' : '' %> name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>

</fieldset>
</div>
</div>

<div class="book-details">
    <div>
      <img class="book-cover" width = "100" height = "150" src="<%= book.coverImagePath %>">
      <div class="book-details-btn-grid">
        <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
        <a class="btn btn-primary book-details-author-button" href="/authors/<%= book.author.id %>">View Author</a>
      </div>
    </div>
 
    <div class="book-details-grid">
      <div class="book-details-label">Author:</div>
      <div><%= book.author.name %></div>
      <div class="book-details-label">Publisher:</div>
      <div><%= book.publisher %></div>
      <div class="book-details-label">Published:</div>
      <div><%= book.publishDate %></div>
     
      <div class="book-details-label">Pages:</div>
      <div><%= book.pageCount %></div>
      <div class="book-details-label">Review:</div>
      <div><%= book.description %></div>
    </div>
  </div>

  