<div id="film-header" class="film-header">
  <div class="film-buttons">
   
    <div class="film-icon">

      <a  href="/music/new"><i class="fa-solid fa-plus"></i></a>

    </div>
    <div onclick="toggleMusicSort()" class="film-icon">
      <i class="fa-solid fa-sort"></i>
  </div>
  <div onclick="showtop100Music()" class="film-icon">
    <a  href="/music/top100"><i class="fa-solid fa-thumbs-up"></i></a>
   
</div>

  
   

  </div>
</div>
 
<div id="searchFilms" class="hidden">
  <h2  class="page-header">Search Films</h2>
<form action="/music/search" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Title</label>
      <input type="text" name="Title" value="<%= searchOptions.Title %>">
    </div>
    <div class="form-item">
      <label>Artist</label>
      <input type="text" name="Director" value="<%= searchOptions.Director %>">
    </div>
  </div>
  <div class="form-row">
   
  
    <div class="form-item">
      

      <label>Genre</label>
      <select name="genre">
        
        <% genres.forEach(genre => { %>
         
                <option label="<%= genre %>" value="<%= genre %>">
                
        <% }) %>
      </select>

    </div>
    <div class="form-item">
      <label>Actors</label>
      <input type="text" name="Actors" value="<%= searchOptions.Actors %>">
    </div>
  </div>
  <div class="form-row">

    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
</div>


<div id="sortFilms" class="hidden">
  
  <form action="/music" method="GET">
    
    <div class="form-row">
    <div class="form-item">
      <label>Sort</label>
      <select name="sortfilms"> 
        <%
        var options = [ "Title", "Year", "imdbRating", "myRating","Index"];
        for ( var i = 0; i < options.length; i++ )
        {
            var selected = ( sortIndex == i ) ? "selected" : "";
            %><option value="<%=options[ i ] %>" <%=selected %>><%=options[ i ] %></option><%
        }
        %>


        </select>
  </div>
   <div class="form-item">
    <label>&nbsp;</label>
    <select name="sortdirfilms">   
      <% if (searchOptions.sortdirfilms == "down" ) { %>
        <option label="up" name="Direction"  value="up">
        <option label = "down" name="Direction" selected value="down">
        <%} else { %>
          <option label="up" name="Direction" selected value="up">
          <option label = "down" name="Direction"   value="down">
        <% } %>
      </select>
    
   </div>
  </div>

   <div class="form-row">
    <div class="form-item">
    <div class="film-buttons">
      
    <div class="film-icon btn-sort">
      <i class="fa-solid fa-compact-disc"></i>
    </div>
    <div class="film-icon btn-sort">
      <i class="fa-solid fa-eye"></i>
    </div>
  </div>
  </div>
  <div class="form-item">
  </div>
  </div>


  <div class="form-row">
    <button class="btn btn-primary" type="submit">Sort</button>
  </div>
  </div>
  
  </form>
  <br>
  <br>
</div>


<% var num = 0; %>


